* {
  box-sizing: border-box;
  font-size: 16px; }

html,
body {
  overflow-x: hidden;
  height: 100%; }

nav {
  background-color: #000;
  color: #fff;
  height: 56px;
  line-height: 56px;
  text-align: center;
  display: none; }

nav ul {
  margin: 0; }

nav ul.right {
  float: right; }

nav ul li {
  list-style: none;
  float: left;
  padding: 0 35px;
  text-align: center;
  transition: background-color 0.3s; }

nav ul li:hover,
nav ul li:active {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1); }

nav ul li.active {
  background-color: rgba(0, 0, 0, 0.1); }

p {
  font-size: 1.2rem; }

h2 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  font-size: 2.5em; }

body {
  background: url(../img/bg-image-r.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.container {
  position: relative;
  max-width: 85%;
  margin: 0 auto;
  height: 100%;
  margin-top: 2em; }

section {
  position: absolute;
  padding: 25px;
  top: 0;
  opacity: 0;
  transition: all 0.3s;
  width: 100%; }

section.active {
  opacity: 1;
  z-index: 999; }

.blog p {
  text-indent: 20px; }

.blog h5 {
  margin-top: 20px; }

.about p {
  margin-bottom: 10px;
  text-indent: 20px; }

.answer-box {
  display: flex;
  justify-content: space-around; }
  .answer-box li {
    list-style: none;
    border: 2px solid #00897b;
    padding: 0.2em 1em 0.4em;
    width: 8rem;
    text-align: center; }
  .answer-box li:hover {
    color: #fff;
    background-color: #007b6e; }

.active-answer {
  color: #fff;
  background-color: #007b6e; }

.answer-btn,
.confirm-btn,
.try-again-btn {
  background-color: #efefef;
  border-radius: 0em;
  padding: 1em;
  color: #333; }

.confirm-btn,
.try-again-btn {
  padding: 0.8em 1em; }

.selected {
  background: #5dbcd2;
  border-color: #5dbcd2; }

.selected:focus {
  outline: 0; }

.btn:focus {
  outline: 0;
  box-shadow: none; }

.btn-primary:focus {
  box-shadow: none; }

.btn-box .btn {
  display: block;
  margin: 0 auto;
  width: 40%;
  margin-bottom: 1.2em;
  font-size: 1.2em;
  padding: 0.5em; }

.control-box {
  width: 40%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem; }

.not-visible {
  display: none; }

.back {
  display: inline-block;
  cursor: pointer; }

.next {
  display: inline-block;
  padding-left: 1.5em;
  cursor: pointer; }

section {
  background-color: #000;
  color: #fff;
  margin: 1rem;
  background: rgba(0, 0, 0, 0.95);
  border-radius: 2px;
  height: 85vh;
  padding: 2.5em;
  padding-bottom: 5em;
  border: 2px solid #000;
  height: 90vh;
  top: 0.5em;
  left: 0;
  right: 0;
  margin: 0 auto; }

.feedback-msg {
  border: 2px solid #fff;
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: 300;
  opacity: 0;
  margin-left: -2000px;
  display: inline-block;
  padding: 0.55em 1.2em 0.6em 1.2em;
  margin-top: 2em;
  text-align: center;
  z-index: 9999;
  position: absolute;
  bottom: 4.4em;
  left: -3000px;
  right: 0;
  margin-left: auto !important;
  margin-right: auto;
  width: 20em; }
  .feedback-msg i {
    color: #fff;
    margin-right: 0.5em; }
  .feedback-msg span {
    font-weight: 600; }

.feedback-box {
  text-align: center; }

.question-content {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1.2em;
  font-size: 1.5em;
  font-weight: 300; }

.btn-box {
  margin-bottom: 2em; }

.correct h2,
.correct .question-content {
  color: #5dbcd2; }

.correct section {
  border-color: #5dbcd2; }

.correct .feedback-msg {
  color: #5dbcd2;
  border-color: #5dbcd2; }

.correct i {
  color: #5dbcd2; }

.incorrect h2 {
  color: #ff504b; }

.incorrect section {
  border-color: #ff504b; }

.incorrect .feedback-msg {
  color: #ff504b;
  border-color: #ff504b; }

.incorrect i {
  color: #ff504b; }

.incorrect .selected {
  background: #ff504b;
  border-color: #ff504b; }

@media only screen and (max-width: 767.98px) {
  h2 {
    font-size: 1.8em; }
  section {
    height: 94vh; }
  .question-content {
    font-size: 1em; }
  .control-box {
    width: 100%;
    font-size: 1em; }
    .control-box .confirm-btn {
      padding: 8px 16px; }
    .control-box .try-again-btn {
      padding: 8px 16px; }
  .btn-box .btn {
    width: 100%;
    font-size: 1em; }
  .feedback-box {
    text-align: center;
    width: 100%;
    font-size: 1em; }
    .feedback-box .feedback-msg {
      width: 80%;
      bottom: 2.4em;
      font-size: 1.1em; }
      .feedback-box .feedback-msg i {
        font-size: 0.8em; }
      .feedback-box .feedback-msg span {
        font-size: 0.8em; } }

@media only screen and (max-width: 575.98px) {
  h2 {
    font-size: 1.8em; }
  section {
    height: 96vh; }
  .question-content {
    font-size: 1em; }
  .control-box {
    width: 100%;
    font-size: 1em; }
  .btn-box .btn {
    width: 100%;
    font-size: 1em; }
  .feedback-box {
    text-align: center;
    width: 100%;
    font-size: 1em; }
    .feedback-box .feedback-msg {
      width: 80%;
      font-size: 1.1em;
      bottom: 1.1em; }
      .feedback-box .feedback-msg i {
        font-size: 0.8em; }
      .feedback-box .feedback-msg span {
        font-size: 0.8em; } }
